@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root  {
    --background: 159 0% 95%;
    --foreground: 159 0% 10%;
    --card: 159 0% 90%;
    --card-foreground: 159 0% 15%;
    --popover: 159 0% 95%;
    --popover-foreground: 159 95% 10%;
    --primary: 159 68.7% 35.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 159 10% 73%;
    --secondary-foreground: 0 0% 0%;
    --muted: 121 10% 85%;
    --muted-foreground: 159 0% 40%;
    --accent: 121 10% 80%;
    --accent-foreground: 159 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 159 0% 90%;
    --border: 159 20% 73%;
    --input: 159 20% 50%;
    --ring: 159 68.7% 35.1%;
    --radius: 0.3rem;
  }
  .dark  {
    --background: 159 10% 10%;
    --foreground: 159 0% 90%;
    --card: 159 0% 10%;
    --card-foreground: 159 0% 90%;
    --popover: 159 10% 5%;
    --popover-foreground: 159 0% 90%;
    --primary: 159 68.7% 35.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 159 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 121 10% 25%;
    --muted-foreground: 159 0% 65%;
    --accent: 121 10% 25%;
    --accent-foreground: 159 0% 90%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 159 0% 90%;
    --border: 159 20% 50%;
    --input: 159 20% 50%;
    --ring: 159 68.7% 35.1%;
    --radius: 0.3rem;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  html {
    font-family: 'Poppins', sans-serif;
  }
}